.carousel {
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.carousel-container {
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
}

.carousel-item {
    flex: 0 0 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}
